form{
    width: 90%;
    height: 50px;
    margin-top: 10px;
    padding-left: 20px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

input{
    margin-top: 15px;
}

select{
    margin-top: 15px;
}

.btn{
    margin-top: 15px;
    background-color: blue;
    color: white;
}